<div class="date-input">
  <form class="form-inline" id="dates-form" action="https://reservations.frontdeskanywhere.net/F120322D/oboe2/ajax_get_booking_list.php">
    <input type="hidden" name="json" value="true">

    <div class="form-group">
      <div class="input-group" style="width: 240px;">
        <span class="input-group-addon">Check-In Date</span>
        <input class="form-control" id="dp-start" size="16" type="text" name="arrival_date">
      </div>
    </div>
 
    <div class="form-group">
      <div class="input-group" style="width: 240px;">
        <span class="input-group-addon">Check-Out Date</span>
        <input class="form-control" id="dp-end" size="16" type="text" name="departure_date">
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Get Rooms</button>
  </form>
</div>
