<div class="date-input">
  <form class="form-inline" id="dates-form" action="https://reservations.frontdeskanywhere.net/F120322D/oboe2/ajax_get_booking_list.php">
    <input type="hidden" name="json" value="true">
    <div class="input-prepend">
      <span class="add-on">Check-In Date</span>
      <input class="span2" id="dp-start" size="16" type="text" name="arrival_date">
    </div>
 
    <div class="input-prepend">
      <span class="add-on">Check-Out Date</span>
      <input class="span2" id="dp-end" size="16" type="text" name="departure_date">
    </div>

    <button type="submit" class="btn">Submit</button>
  </form>
</div>

<hr>
